---
import Logo from "../../assets/images/logo.svg";
import IconMenu from "../../assets/images/icon-menu.svg";
import IconCart from "../../assets/images/icon-cart.svg";
import ImageAvatar from "../assets/images/image-avatar.png";

const links = ["Men", "Women", "About", "Contact"];
---

<nav
  class="flex justify-between items-center w-full md:max-w-[605px] lg:max-w-[1110px] bg-white p-8 md:px-0 lg:py-8 lg:mb-[96px] md:border-b border-grey-100"
>
  <!-- Left side -->
  <div class="flex items-center">
    <!-- Menu and logo -->
    <div class="flex items-center lg:items-start gap-4 mr-8 lg:mr-14">
      <button class="lg:hidden"><IconMenu /></button>
      <Logo />
    </div>
    <!-- Links desktop -->
    <ul class="gap-8 hidden lg:flex items-start h-full">
      {
        links.map((link) => (
          <li class="relative text-preset-4 text-grey-500 ">
            {link}
            <hr class="absolute w-full -bottom-[45px] left-0 border-3 border-orange-500" />
          </li>
        ))
      }
    </ul>
  </div>
  <!-- Right side -->
  <div class="flex justify-between items-center gap-6 md:gap-12">
    <button class="relative flex justify-center items-center">
      <IconCart class="" />
      <span
        class="absolute -top-3 -right-3 bg-orange-500 px-2 py-0.5 text-[10px] font-bold text-white rounded-full"
        >3</span
      >
    </button>
    <div
      class="w-[24px] md:w-[50px] h-[24px] md:h-[50px] rounded-full bg-grey-500"
    >
    </div>
  </div>
</nav>
